/*importing Ubuntu/Noto Sans fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --unique-light-color:#5994ce;
    --unique-dark-color:#3a4e93;
    --unique-secondary-color:#5c58b6;
    --unique-tertiary-color:#b957ce;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Ubuntu, 'Noto Sans', sans-serif;
}

/* Global */

.max-width{
    max-width: 1300px;
    padding: 0px 30px;
    margin: auto;
}

.title{
    text-align: center;
    font-size: 40px;
    color: var(--unique-light-color);
    padding-bottom: 30px;
    font-family: Ubuntu;
}

section{
    padding: 60px 0;
}

html{
    scroll-behavior: smooth;
}



/* navigation Bar */

.navbar{
    width: 100%;
    background-color: var(--unique-dark-color);
    position: -webkit-sticky;
    position: sticky;
    top:0; 
    z-index: 999;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    padding: 10px 30px;
    justify-content: space-between;

}

.navbar .logo a{
    color:#fff;
    font-size:35px;
    font-weight: bolder;
    transition: color 0.5s ease;
}

.navbar .logo a span{
    color:var(--unique-light-color);
    transition: color 0.5s ease;
}

.navbar .logo a span:hover{
    color:white;
}

.navbar .menu{
    font-size: 18px;
}

.navbar .menu li{
    list-style: none;
    display:inline-block;
}

.navbar .menu li a{
    color:#fff;
    font-weight: bold;
    margin-left: 30px;
    transition: color 0.5s ease;
}

.navbar .menu li a:hover{
    color:var(--unique-light-color);
}

/* Top Banner */

.banner{
    padding:0px;
}
.banner img{
    display: block;
    margin-right:auto;
    margin-left:auto;
    max-width: 100%;
    max-height: 400px;
    height: auto;
    object-fit: cover;
}

/*About Me Section */

.about .about-content{
    display: flex;
    flex-wrap: wrap;
}

.about .content-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.about .content-left img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 100px;
}

.about .content-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.about .content-right p{
    padding: 10px 0;
    text-align: justify;
    font-family: 'Noto Sans';
}

/* Skill Section */

.skill .skill-content{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.skill .skill-content .box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    position: relative;
    padding: 20px 0;
}

.skill .skill-content .box img{
    height: 250px;
    width: 300px;
    object-fit: cover;
    border-radius: 30px;
    transition: 0.5s ease;
}

.skill .skill-content .box:hover img{
    opacity: 0.5;
    border-radius: 50px;
}

.skill .skill-content .box h2{
    position: absolute;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: var(--unique-tertiary-color);
    color: white;
    transition: 0.5s ease-in-out;
}

.skill .skill-content .box:hover h2{
    font-size:1.8rem;
    transition: 0.5s ease-in-out;
    
}

/* Project Section */

.project a{
    color:#fff;
}

.project .project-content-latest{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.project .project-content-latest .box{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.project .project-content-latest .box img{
    height: 500px;
    width: 1100px;
    object-fit: cover;
    border-radius: 30px;
    transition: 0.5s ease;
    border: 5px solid var(--unique-secondary-color);
    
}

.project .project-content-latest .box h2{
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    background-color: var(--unique-secondary-color);
    color: white;
    z-index: 2;
}

.project .project-content-latest .box:hover{
    font-size: 1.1rem;
    transition: all 0.5s ease;
    
}

.project .project-content-latest .box:hover h2{
    border-radius: 5px;
    background-color: var(--unique-tertiary-color);    
    cursor:pointer;
}

.project .project-content-latest .box:hover img{
    border-radius: 50px;
    border-color: var(--unique-tertiary-color);
    filter:opacity(70%);
    cursor:pointer;
}

.project .project-content{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.project .project-content .box{
    display: flex;
    justify-content: center;
    width: 25%;
    position: relative;
    padding: 20px 0;
    
    transition: all 1s ease;
}

.project .project-content .box img{
    height: 400px;
    width: 250px;
    object-fit: cover;
    border-radius: 30px;
    transition: 0.5s ease;
    border: 5px solid var(--unique-secondary-color);
}

.project .project-content .box h2{
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    background-color: var(--unique-secondary-color);
    color: white;
    z-index: 2;
}

.project .project-content .box:hover{
    font-size: 1.1rem;
    transition: all 0.5s ease;
}

.project .project-content .box:hover h2{
    border-radius: 5px;
    background-color: var(--unique-tertiary-color);
    cursor:pointer;
}

.project .project-content .box:hover img{
    border-radius: 50px;
    border-color: var(--unique-tertiary-color);
    filter:opacity(70%);
    cursor:pointer;
}

/* Contact Me Section */

.contact .contact-content{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.contact .contact-content .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 33.33%;
}

.contact .contact-content .box h2{
    position: relative;
    padding-bottom: 10px;
}

.contact .contact-content .box h2::before{
    content:"";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 130px;
    height: 2px;
    background-color:var(--unique-secondary-color);
    transform: translateX(-50%);
}

.contact .contact-content .box h3{
    font-size: 20px;
    font-weight:normal;
    position: relative;
    padding-top: 10px;
}

.contact a{
    color:var(--unique-tertiary-color);
}

.contact a:hover{
    color:var(--unique-tertiary-color);
}

/* Footer Section */
footer{
    width: 100%;
    height: 100px;
    background-color: var(--unique-dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer h1{
    font-size: 15px;
    font-weight: lighter;
    color:gainsboro;
}


/* responsive media query */
@media screen and (max-width: 1140px){
    .project .project-content-latest .box img{
        height: 500px;
        width: 900px;
    }
    
    .project .project-content .box{
        width: 33.33%;
        transition: all 0.5s ease-in-out;
    }
}

@media screen and (max-width: 1000px){
    .about .about-content img{
        width: 250px;
        height: 250px;
        border-radius: 50px;
    }
    
    .about .about-content p{
        padding: 10px 10px;
    }

    .skill .skill-content .box{
        width: 50%;
        transition: all 0.5s ease-in-out;
    }
    
    .project .project-content-latest .box h2{
        left: 20%;
        transition: all 0.5s ease-in-out;
    }

    .project .project-content-latest .box img{
        height: 400px;
        width: 600px;
    }

    .project .project-content .box{
        width: 50%;
        transition: all 0.5s ease-in-out;
    }
}

@media screen and (max-width: 680px){
    .navbar .max-width{
        flex-direction: column;
    }
    .navbar .menu{
        padding-top: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    section{
        padding:90px 0 0 0;
    }

    .about .about-content .content-left{
        width: 100%;
        padding: 20px 0px;
    }
    .about .about-content .content-right{
        width: 100%;
    }
    
    .about .about-content img{
        width: 300px;
        height: 300px;
        border-radius: 80px;
    }
    
    .about .about-content p{
        padding: 10px 10px;
    }

    .skill .skill-content .box{
        width: 100%;
        transition: all 0.5s ease-in-out;
    }
    
    .project .project-content-latest .box img{
        height: 300px;
        width: 300px;
    }

    .project .project-content-latest .box h2{
        left: 30%;
        transition: all 0.5s ease-in-out;
    }

    .project .project-content .box{
        width: 100%;
        transition: all 0.5s ease-in-out;
    }

    .project .project-content .box img{
        height: 250px;
    }

    .project .project-content img:hover{
        border-radius: 50px;
        cursor:pointer;
        z-index: 1;
    }
    .contact .contact-content .box{
        width: 100%;
        padding-bottom: 20px;
        transition: all 0.5s ease-in-out;
    }
}